<!DOCTYPE html>
<html>
    <head>
        <title>Аренда</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/static/bootstrap/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/static/style/style-lg.css">
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/static/style/style-sm.css">
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/static/Futura/stylesheet.css">
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/static/style/customSelect.css">
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/static/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/static/slick/slick-theme.css"/>
    </head>
    <body>
        <div class="container-fluid">
            <section id="section-top">
                <div id="titlePart">
                	
                    <div id="pageTitle">
                        <h1>Федерация-Восток</h1>
                        <h4>59-ый этаж</h4>
                    </div>
                    <div id="icons">
                        <img id="_icon" src="{{MEDIA_URL}}/static/svg/icons.svg">
                    </div>
                </div>
            </section>
            <section id="section-mid">
                <div id="rendPart">
                    <h1 id="rend-header">Аренда</h1>
                    <div id="mapRowHandler" class="row">
                    	<div id="mapInfoBlock" class="col-6 col-sm-6 col-lg-6 col-xl-6">
                            <div id="more-info-panel-inner">
                            	<h4 id="more-info-panel-title"></h4>
                            	<div class="row">
                            		<div class="col-sm-6 col-lg-6 col-xl-6">
										<p style="float: left;" class = "more-info-panel-price"></p>
										<p style="float: right;" class = "more-info-panel-price"></p>
                            		</div>
                            		<div class="col-sm-6 col-lg-6 col-xl-6">
                            			<p style="float: left;" class = "more-info-panel-square"></p>
                            			<p style="float: right;"><span class = "more-info-panel-square"></span>м<sup>2</sup></p>
                            		</div>
                            	</div>
                            	<div class="row">
                            		<div class="col-sm-6 col-lg-6 col-xl-6">
                            			<p style="float: left;" class = "more-info-panel-price-all"></p>
                            			<p style="float: right;" class = "more-info-panel-price-all"></p>
                            		</div>
                            		<div class="col-sm-6 col-lg-6 col-xl-6">
                            			<p style="float: left;" class = "more-info-panel-status"></p>
										<p style="float: right;" class = "more-info-panel-status"></p>
                            		</div>
                            	</div>
                            	<br>
                            	<div class="row">
                            		<div class="col-sm-12 col-lg-12 col-xl-12">
                            			<p id = "more-info-panel-info"></p>
                            		</div>
                            	</div>
                                <div class="photo-slideshow"> 
                                    <div class="slider-for"></div>
                                    <div class="slider-nav"></div>
                                </div>
                            </div>
                        </div>
                        <div id="mapBlock" class="col-lg-6 col-xl-6">
                            <div id="main-map">
                            
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   viewBox="0 0 605 605"
   preserveAspectRatio="xMidYMid meet"
   version="1.1"
   id="svg-map"
   style="enable-background:new"
   sodipodi:docname="YetAnotherMap.svg"
   inkscape:version="0.92.4 (5da689c313, 2019-01-14)">
  <sodipodi:namedview
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1"
     objecttolerance="10"
     gridtolerance="10"
     guidetolerance="10"
     inkscape:pageopacity="0"
     inkscape:pageshadow="2"
     inkscape:window-width="1920"
     inkscape:window-height="1017"
     id="namedview161"
     showgrid="false"
     inkscape:zoom="0.70710678"
     inkscape:cx="246.08591"
     inkscape:cy="476.67532"
     inkscape:window-x="1912"
     inkscape:window-y="-8"
     inkscape:window-maximized="1"
     inkscape:current-layer="svg-map" />
  <defs
     id="defs921">
    <clipPath
       id="clipPath889"
       clipPathUnits="userSpaceOnUse">
      <use
         height="100%"
         width="100%"
         id="use891"
         xlink:href="#g885"
         y="0"
         x="0" />
    </clipPath>
  </defs>
  <metadata
     id="metadata7627">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title>Карта</dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <title
     id="title5671">Карта</title>
  <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="m 1.1546947,4.648977 32.1313973,-2.40824 16.9237,-0.86176 33.50505,-0.87883 0.79493,0.0178 50.416588,1.1682633 0.96219,28.9905347 5.34925,-0.06103 1.64806,84.152835 -39.86401,6.88945 0.1022,1.95264 c -32.876492,2.36668 -69.033828,6.95443 -97.0843583,9.99509 L 2.2994907,84.93291 0.50019265,35.650227 Z"
     data-content="2"
     title="1"
     data-toggle="popover"
     role="button"
     tabindex="0"
     class="offices"
     id="1"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccccccccccccc" />
  <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="m 135.4213,1.713927 47.73949,3.28115 -0.6984,96.087663 1.20576,6.54646 -40.37236,7.05524 -1.58221,-84.570503 -5.34577,0.0676 z"
     data-content="2"
     title="1"
     data-toggle="popover"
     role="button"
     tabindex="0"
     class="offices"
     id="2"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="cccccccc" />
  <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="M 183.65245,5.0337469 C 183.15809,37.446717 182.9586,101.04256 182.9586,101.04256 l 1.17049,6.50852 21.24255,-3.694 18.84635,2.71915 c 2.38582,-32.482417 5.58012,-64.134343 8.126,-95.661883 z"
     data-content="2"
     title="1"
     data-toggle="popover"
     role="button"
     tabindex="0"
     class="offices"
     id="3"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccccc" />
  <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="m 232.83013,10.980638 -8.15902,95.548722 40.49318,5.89681 12.82074,-93.713123 z"
     data-content="2"
     title="1"
     data-toggle="popover"
     role="button"
     tabindex="0"
     class="offices"
     id="4"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccc" />
  <path
     id="5"
     d="m 278.47117,18.809248 46.31793,10.217469 -10.83275,62.119518 -27.6208,-6.594222 -7.22692,29.939407 -13.47559,-2.00275 z"
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     class="offices"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccccc" />
  <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="m 325.26566,29.151717 88.91206,26.673083 -28.56604,93.01364 -48.29732,-17.04905 7.6382,-33.213413 -30.55871,-7.296929 z"
     data-content="2"
     title="1"
     data-toggle="popover"
     role="button"
     tabindex="0"
     class="offices"
     id="6"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccccc" />
  <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="m 414.64728,55.97948 -28.56537,93.01685 40.59081,14.32723 c 11.38194,-33.36952 0,0 30.98152,-90.995864 z"
     data-content="2"
     title="1"
     data-toggle="popover"
     role="button"
     tabindex="0"
     class="offices"
     id="7"
     inkscape:label="#8"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccc" />
  <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="m 458.11276,72.521045 56.49905,25.189995 -46.10418,91.03739 -19.45436,6.45216 -8.53674,-24.62748 -13.39169,-7.03663 c 30.98792,-91.015435 0,0 30.98792,-91.015435 z"
     data-content="2"
     title="1"
     data-toggle="popover"
     role="button"
     tabindex="0"
     class="offices"
     id="8"
     inkscape:label="#9"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccccc" />
  <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="m 515.06493,97.89854 37.7135,19.11539 30.4004,17.34338 20.90811,12.70625 -16.97937,35.9641 -17.96964,34.77248 -11.9604,20.87039 -8.45826,14.16935 c -19.93517,-13.0752 -41.026,-26.06853 -57.67066,-36.64878 l -13.2574,19.41182 -26.85327,-16.9169 -1.77229,-23.02256 19.68653,-6.51737 z"
     data-content="2"
     title="1"
     data-toggle="popover"
     role="button"
     tabindex="0"
     class="offices"
     id="9"
     inkscape:label="#10"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="cccccccccccccc" />
  <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="m 450.81137,219.15228 27.12046,17.1108 13.24959,-19.40011 c 57.28004,36.37535 0,0 57.28004,36.37535 l -51.60856,76.62516 -74.37911,-62.04779 z"
     data-content="2"
     title="1"
     data-toggle="popover"
     role="button"
     tabindex="0"
     class="offices"
     id="10"
     inkscape:connector-curvature="0"
     onclick=""
     inkscape:label="#11"
     sodipodi:nodetypes="ccccccc" />
  <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="m 390.40987,309.55645 27.63167,25.15846 -22.82238,21.89761 c 43.15323,44.46325 32.28869,34.13535 43.20792,44.54919 l 58.12895,-70.89979 -74.34373,-62.03584 z"
     data-content="2"
     title="1"
     data-toggle="popover"
     role="button"
     tabindex="0"
     class="offices"
     id="11"
     inkscape:label="#13"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccccc" />
  <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="m 438.10667,401.52079 -65.71572,65.96339 -59.59334,-75.79863 42.09941,-34.61991 19.07925,19.81654 20.90389,-19.9423 z"
     data-content="2"
     title="1"
     data-toggle="popover"
     role="button"
     tabindex="0"
     class="offices"
     id="12"
     inkscape:label="#15"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccccc" />
  <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="m 372.03158,467.8123 -37.47007,32.40053 -61.45595,-87.33728 39.31,-20.91772 z"
     data-content="2"
     title="1"
     data-toggle="popover"
     role="button"
     tabindex="0"
     class="offices"
     id="13"
     inkscape:connector-curvature="0"
     inkscape:label="#16"
     sodipodi:nodetypes="ccccc" />
  <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="m 272.68768,413.11993 c 18.89104,27.37754 44.70444,62.97605 61.49272,87.41206 l -37.39202,29.26 -58.0203,-98.52978 z"
     data-content="2"
     title="1"
     data-toggle="popover"
     role="button"
     tabindex="0"
     class="offices"
     id="14"
     inkscape:label="#17"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccc" />
  <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="m 208.71646,455.85112 11.94685,-6.42514 -3.3956,-6.6973 21.10138,-11.24884 58.04956,98.57598 -41.36657,28.96091 -47.94993,-84.73985 8.51624,-5.28964 z"
     data-content="2"
     title="1"
     data-toggle="popover"
     role="button"
     tabindex="0"
     class="offices"
     id="15"
     inkscape:label="#18"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccccccc" />
  <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="m 116.39918,493.83729 85.55811,-49.83436 c 13.03021,24.79348 0,0 13.03021,24.79348 l -8.55722,5.31641 48.22336,85.17735 -18.4893,12.10841 -8.62756,5.20088 -11.20314,6.57361 -8.46937,5.37081 -9.22226,5.10533 -14.24705,7.92583 -11.44099,-16.54285 -12.18763,-17.76501 -8.05622,-12.60076 -3.97921,-5.87175 -4.07702,-6.93558 -4.02804,-6.20341 -5.2676,-8.87619 -3.22264,-5.06386 -3.3876,-6.71063 -3.30512,-5.37081 z"
     data-content="2"
     title="1"
     data-toggle="popover"
     role="button"
     tabindex="0"
     class="offices"
     id="16"
     inkscape:label="#19"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="cccccccccccccccccccccc" />
  <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="m 116.1724,493.41098 c 0,0 0,0 85.5537,-49.80944 0,0 -14.59809,-27.42595 -18.99372,-34.8564 l -87.601361,43.32449 z"
     data-content="2"
     title="1"
     data-toggle="popover"
     role="button"
     tabindex="0"
     class="offices"
     id="17"
     inkscape:label="#20"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccc" />
  <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="m 182.48142,408.31982 -6.9976,-12.80953 7.55231,-3.72391 -7.72825,-25.11761 c -100.021858,41.1106 -65.67993,25.98258 -100.021858,41.1106 l 19.641643,43.85653 c 87.553755,-43.31608 0,0 87.553755,-43.31608 z"
     data-content="2"
     title="1"
     data-toggle="popover"
     role="button"
     tabindex="0"
     class="offices"
     id="18"
     inkscape:label="#21"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccccc" />
  <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="m 75.098522,407.31843 c 100.054088,-41.08157 0,0 100.054088,-41.08157 l -4.10103,-13.34077 -9.79631,2.66965 -9.31648,-25.03555 -93.640118,33.63224 z"
     data-content="2"
     title="1"
     data-toggle="popover"
     role="button"
     tabindex="0"
     class="offices"
     id="19"
     inkscape:label="#22"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccccc" />
  <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="m 151.77276,330.0786 -14.28084,-38.81362 c 0,0 -66.14884,17.04472 -96.38417,25.22432 l 17.003422,47.21219 z"
     data-content="2"
     title="1"
     data-toggle="popover"
     role="button"
     tabindex="0"
     class="offices"
     id="20"
     inkscape:label="#23"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccc" />
  <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="M 40.966932,316.03129 150.63531,287.33839 138.30884,245.22095 30.570995,273.82249 Z"
     data-content="2"
     title="1"
     data-toggle="popover"
     role="button"
     tabindex="0"
     class="offices"
     id="21"
     inkscape:label="#24"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccc" />
  <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="m 19.900642,226.62189 10.565493,46.71403 97.402145,-25.83669 -2.32954,-7.15427 11.53369,-3.2927 -10.66518,-32.39948 z"
     data-content="2"
     title="1"
     data-toggle="popover"
     role="button"
     tabindex="0"
     class="offices"
     id="22"
     inkscape:label="#25"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccccc" />
  <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="m 19.802986,226.14142 106.411034,-22.05379 -7.99059,-24.32756 -5.77452,0.81901 -2.36149,-14.60739 -98.360268,13.79503 z"
     data-content="2"
     title="1"
     data-toggle="popover"
     role="button"
     tabindex="0"
     class="offices"
     id="23"
     inkscape:label="#26"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccccc" />
  <path
     style="opacity:0.98999999;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="m 6.0396917,133.60569 5.6138303,45.67558 c 32.785259,-4.59278 -0.0078,-0.0156 98.347968,-13.79395 l -4.84459,-30.17836 -1.35239,0.37322 -0.54701,-11.58663 c -32.850888,1.74464 -63.195038,6.58526 -97.2178083,9.51018 z"
     data-content="2"
     title="1"
     data-toggle="popover"
     role="button"
     tabindex="0"
     class="offices"
     id="24"
     inkscape:label="#27"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="cccccccc" />
  <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="m 124.34055,135.36065 14.86089,48.26279 -3.69795,0.63313 2.73362,8.92818 1.83975,-0.37925 23.72247,78.05476 -16.08871,4.7787 -9.09974,-31.00646 -10.27496,2.75049 -2.20248,-6.80283 11.51892,-3.28544 -19.0969,-58.07762 -5.70906,0.84435 -7.29107,-45.31499 -1.32018,0.34028 -0.69518,-12.77842 z"
     id="25"
     class="offices"
     inkscape:label="#corridor-pt9"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccccccccccccccc" />
  <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="m 198.68072,260.41447 -2.09817,-6.58258 33.77247,-10.63794 9.89994,32.70389 -33.78724,10.44472 -2.12885,-7.42099 -63.2955,21.04867 -3.07562,-8.81671 13.26744,-3.48218 -3.37643,-11.57574 16.09696,-4.77376 z"
     id="26"
     class="offices"
     inkscape:label="#corridor-pt8"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="cccccccccccc" />
  <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="m 213.12165,425.59376 -4.85818,29.38453 -32.08863,-59.26254 7.44265,-3.68032 -12.2455,-39.73596 -9.80981,2.66904 -20.30284,-54.5536 28.76576,-9.57903 7.03564,22.8327 -9.81982,3.21737 5.51758,18.03346 9.83049,-3.08643 0.38443,1.42073 -2.35391,0.67095 2.82709,9.25226 2.29243,-0.70091 7.95986,26.08874 -1.63715,0.67012 2.7619,8.8883 3.32381,-1.4236 z"
     id="27"
     class="offices"
     inkscape:label="#corridor-pt7"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccccccccccccccccccc" />
  <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="m 334.19872,350.19636 -44.54343,34.10627 -19.90205,9.39782 -13.19472,-42.75135 -1.12818,0.53835 -2.62839,-8.5459 -21.233,8.47347 12.54341,25.93214 9.62798,30.37883 -40.14994,18.02402 -4.90196,29.5727 11.34321,-6.0956 -3.36669,-6.63638 95.64287,-51.12444 12.19911,-9.99028 29.94892,-24.62657 z"
     id="28"
     class="offices"
     inkscape:label="#corridor-pt6"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccccccccccccccc" />
  <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="m 323.68952,321.6685 10.6612,28.06516 20.53776,6.75232 8.70131,-7.53997 -4.52522,-4.30691 -14.68098,-31.87425 z"
     id="29"
     class="offices"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccccc" />
  <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="m 430.93722,200.64181 3.83265,12.59047 -26.28884,40.41776 -17.0241,19.88501 -11.84461,15.4851 2.09632,6.88647 -36.9188,16.67073 14.56402,31.52112 30.38414,-34.41702 32.27131,-41.9709 28.52238,-48.93078 -1.85055,-22.97667 z"
     id="30"
     class="offices"
     inkscape:label="#corridor-pt4"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccccccccccc" />
   <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="m 289.44989,116.56038 6.19473,38.74313 40.83709,-7.31713 2.39481,6.38896 43.53796,15.1491 44.21871,17.25099 4.15487,13.39129 17.78815,-4.83564 -8.45812,-24.40641 -13.43376,-7.0681 -89.75699,-31.70637 -36.31239,-8.9046 z"
     id="31"
     class="offices"
     inkscape:label="#corridor-pt3"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccccccccccc" />
  <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="m 266.97816,129.81355 8.78101,28.63131 19.4167,-3.07104 -6.23359,-38.86526 z"
     id="32"
     class="offices"
     inkscape:label="#corridor-pt2"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccc" />
  <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="m 103.93068,121.97603 20.6632,12.98708 43.20958,-8.16284 8.79494,28.78573 2.79926,20.75206 3.11108,12.7289 22.54004,-4.06936 -16.82113,-56.37417 22.43409,-2.54344 55.99287,3.3936 21.75896,-13.21114 -63.81076,-9.22949 -19.22726,-2.67979 z"
     id="33"
     class="offices"
     inkscape:label="#corridor-pt1"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="cccccccccccccc" />
  <path
     id="34"
     d="m 148.65455,195.59356 10.52961,34.24978 41.4535,-12.79219 -7.00515,-29.47575 z"
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     data-content="2"
     title="1"
     data-toggle="popover"
     role="button"
     tabindex="0"
     class="offices"
     inkscape:label="#43"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccc" />
  <path
     id="35"
     d="m 201.04701,216.76154 39.15937,-12.43528 -4.74959,-24.43886 -41.36024,7.59961 z"
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     data-content="2"
     title="1"
     data-toggle="popover"
     role="button"
     tabindex="0"
     class="offices"
     inkscape:label="#44"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccc" />
   <path
     id="36"
     d="m 221.14603,210.90244 14.28837,47.45999 23.85054,-7.32118 -14.30682,-47.73967 z"
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     data-content="2"
     title="1"
     data-toggle="popover"
     role="button"
     tabindex="0"
     class="offices"
     inkscape:label="#31"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccc" />
  <path
     id="37"
     d="m 220.67646,211.0516 9.5677,31.6894 -33.81629,10.64895 -28.5066,8.21626 c -3.56457,-12.91153 -2.59016,-8.62048 -8.59583,-31.29641 z"
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     data-content="2"
     title="1"
     data-toggle="popover"
     role="button"
     tabindex="0"
     class="offices"
     inkscape:label="#29"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="cccccc" />
  <path
     id="38"
     d="m 190.34163,327.66088 c -3.04203,-11.34308 -5.90194,-22.23043 -9.18467,-33.50607 l 25.43576,-7.35913 33.79926,-10.43602 9.97598,32.88007 z"
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     data-content="2"
     title="1"
     data-toggle="popover"
     role="button"
     tabindex="0"
     class="offices"
     inkscape:label="#30"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="cccccc" />
 
  <path
     id="39"
     d="m 260.13484,253.8281 12.81611,41.67447 -23.95648,7.66319 -12.74375,-42.10322 z"
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     data-content="2"
     title="1"
     data-toggle="popover"
     role="button"
     tabindex="0"
     class="offices"
     inkscape:label="#32"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccc" />
  <path
     id="40"
     d="m 190.48526,328.12492 11.45452,34.63412 57.80095,-23.12019 -9.22043,-30.02412 z"
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     data-content="2"
     title="1"
     data-toggle="popover"
     role="button"
     tabindex="0"
     class="offices"
     inkscape:label="#37"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccc" />
   <path
     id="41"
     d="m 249.11946,303.55638 7.84668,25.37937 12.01163,-3.99409 -4.11047,-13.86849 11.43692,-3.33041 -3.21265,-11.78707 z"
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     class="offices"
     role="button"
     tabindex="0"
     data-toggle="popover"
     inkscape:label="#38"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccccc" />
  <path
     id="42"
     d="m 356.22945,184.33146 -6.73972,-25.75333 -10.77949,-3.74656 -3.982,1.33624 7.44167,32.37718 z"
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     class="offices"
     role="button"
     tabindex="0"
     data-toggle="popover"
     inkscape:label="#41"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="cccccc" />
  <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="m 363.94031,182.50092 3.66432,11.87995 -10.60095,3.30701 c 4.38736,15.64112 8.71397,30.12577 12.80728,42.82636 l -11.52598,3.54409 -15.98249,-55.0493 z"
     id="43"
     class="offices"
     role="button"
     tabindex="0"
     data-toggle="popover"
     inkscape:label="#47"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccccc" />
  <path
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     d="m 372.83335,290.61892 6.36052,-1.85197 12.53726,-16.31064 -10.85595,-34.91995 c -6.9203,2.14198 -13.78246,4.26459 -22.45762,6.99153 z"
     id="44"
     class="offices"
     role="button"
     tabindex="0"
     data-toggle="popover"
     inkscape:connector-curvature="0"
     inkscape:label="#42"
     sodipodi:nodetypes="cccccc" />
  <path
     id="45"
     d="m 289.2686,115.88509 11.53584,6.90585 c 36.02915,8.85926 0,0 36.02915,8.85926 l 7.5334,-32.72067 -57.65579,-13.82509 -7.11584,29.43778 z"
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     class="offices"
     role="button"
     tabindex="0"
     data-toggle="popover"
     inkscape:label="#35"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccccc" />
  <path
     id="46"
     d="m 355.29555,356.77762 18.55572,19.64753 43.48044,-41.69134 -27.20308,-24.77111 c -30.4875,34.55561 -30.4875,34.55561 -30.4875,34.55561 l 4.66676,4.43875 z"
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     class="offices"
     role="button"
     tabindex="0"
     data-toggle="popover"
     inkscape:label="#36"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccccc" />
  <path
     id="47"
     d="m 266.17973,160.49084 c 16.17076,56.85238 34.84085,115.42121 49.78381,163.97101 l 28.2013,-12.11888 -48.86287,-156.58498 z"
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     data-content="2"
     title="1"
     data-toggle="popover"
     role="button"
     tabindex="0"
     class="offices"
     inkscape:label="#39"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccc" /> 
  <path
     id="48"
     d="m 265.45585,311.36799 10.98095,-3.16119 7.12922,22.91619 -23.35746,8.32615 -3.09561,-10.04705 12.43775,-4.16561 z"
     style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
     class="offices"
     inkscape:label="#path885"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccccc" />
  
  <text
     xml:space="preserve"
     style="font-style:normal;font-weight:bold;font-size:10.66666698px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;-inkscape-font-specification:'sans-serif Bold';font-stretch:normal;font-variant:normal;stroke-width:0.5;stroke-miterlimit:4;stroke-dasharray:none"
     x="199.95763"
     y="235.20657"
     id="text1023"><tspan
       sodipodi:role="line"
       id="tspan1021"
       x="199.95763"
       y="235.20657">WC</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:10.66666698px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.5;stroke-miterlimit:4;stroke-dasharray:none"
     x="221.70221"
     y="303.25833"
     id="text1027"><tspan
       sodipodi:role="line"
       id="tspan1025"
       x="221.70221"
       y="303.25833">WC</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:10.66666698px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.5;stroke-miterlimit:4;stroke-dasharray:none"
     x="288.992"
     y="107.05541"
     id="text1063"><tspan
       sodipodi:role="line"
       id="tspan1061"
       x="288.992"
       y="107.05541">WC</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:10.66666698px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.5;stroke-miterlimit:4;stroke-dasharray:none"
     x="367.61484"
     y="357.79849"
     id="text1067"><tspan
       sodipodi:role="line"
       id="tspan1065"
       x="367.61484"
       y="357.79849">WC</tspan></text>
  
</svg>



                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="section-bot">
                <div id="communicatePart">
                    <div class="row">
                        <div class="col-6 " id="formBlock">
                            <h1>Запись на просмотр</h1>
                            <form method="post" action="">
                            <div id="form-div">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                        <input id="form-input-name" class="form-input" type="text" placeholder="Как к вам обращатсья" name="name" >
                                    </div>
                                    <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                        <input id="form-input-offices" class="form-input" placeholder="Какие офисы вы хотите посмотреть"  name="offices" >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                        <div class="custom-select-a form-input">
                                            <select name="type_contact">
                                                <option value="">Удобный способ связи</option>
                                                <option value="phone">Телефон</option>
                                                <option value="email">Почта</option>
                                                <option value="WhatsApp">WhatsApp</option>
                                                <option value="Telegram">Telegram</option>
                                                <option value="Viber">Viber</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                        <input id="form-input-phone" class="form-input" placeholder="Телефон"  name="contact" >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                        <input id="form-input-date" name="date" placeholder="Удобная дата" class="form-input" type="text" onfocus="(this.type='date')" min="2019-01-01">
                                    </div>
                                    <div class="col-6 col-md-6 col-lg-6 col-xl-6" >
                                        <input id="form-input-time" class="form-input" placeholder="Удобное время"  name="time" >
                                    </div>
                                </div>
                                <div class="row">
                                    <button type="button" class="btn btn-dark btn-input" onclick="send_view_data()"><b>Отправить</b></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 " id="contactBlock">
                        	<h1>Контакты</h1>
                        	<div class="row">
                        		<div class="col-md-12 col-lg-12 col-xl-12">
                        			<p>Почта: <strong><a href="#">example@gmail.com</a></strong> </p>
                        		</div>
                        	</div>
                        	<div class="row">
                        		<div class="col-md-12 col-lg-12 col-xl-12">
                        			<p>Телефон: <strong><a href="#">+7-(999)-999-99-99</a></strong></p>
                        		</div>
                        	</div>
                        	<div class="row">
                        		<div class="col-md-12 col-lg-12 col-xl-12">
                        			<p>Адрес: улица Ленина, дом 1, офис 1</p>
                        		</div>
                        	</div>
                            
                            
                            
                            
                        </div>
                    </div>
                </div>

            </section>
            <footer id="footer">
                <div>
                    <p>Почта: <strong><a href="#" id="mailFooter">example@gmail.com</a></strong></p>
                    <p>Телефон: <strong><a href="#">+7-(999)-999-99-99</a></strong></p>
                </div>      
            </footer>
        </div>

        <div class="modal fade" id="InfoModal" tabindex="-1" role="dialog" aria-labelledby="InfoModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="InfoModalLabel">Подробная информация</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div id="modalContentThere" class="modal-body">
                                <h4 id="more-info-panel-title-modal"></h4>
                                <div class="row">
                                    <div class="col-sm-6 col-lg-6 col-xl-6">
                                        <p style="float: left;" class = "more-info-panel-price-modal"></p>
                                        <p style="float: right;" class = "more-info-panel-price-modal"></p>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-xl-6">
                                        <p style="float: left;" class = "more-info-panel-square-modal"></p>
                                        <p style="float: right;"><span class = "more-info-panel-square-modal"></span>м<sup>2</sup></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-lg-6 col-xl-6">
                                        <p style="float: left;" class = "more-info-panel-price-all-modal"></p>
                                        <p style="float: right;" class = "more-info-panel-price-all-modal"></p>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-xl-6">
                                        <p style="float: left;" class = "more-info-panel-status-modal"></p>
                                        <p style="float: right;" class = "more-info-panel-status-modal"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-lg-12 col-xl-12">
                                        <p id = "more-info-panel-info-modal"></p>
                                    </div>
                                </div>
                                <div class="photo-slideshow-modal"> 
                                    <div class="slider-for-modal"></div>
                                    <div class="slider-nav-modal"></div>
                                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
              </div>
            </div>
          </div>
        </div>
        <!-- jQuery -->
        <script type="text/javascript" src="{{MEDIA_URL}}/static/scripts/jQuery.js"></script>
        <!-- Popper -->
        <script type="text/javascript" src="{{MEDIA_URL}}/static/scripts/popper.js"></script>
        <!-- Bootstrap -->
        <script type="text/javascript" src="{{MEDIA_URL}}/static/bootstrap/bootstrap.min.js"></script>
        <!-- Page main scripts -->
        <script type="text/javascript" src="{{MEDIA_URL}}/static/scripts/script.js"></script>
        <!-- Map special js -->
        <script type="text/javascript" src="{{MEDIA_URL}}/static/scripts/map.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}/static/scripts/form.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}/static/scripts/customSelect.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}/static/scripts/img.js"></script>
      
        <script type="text/javascript" src="{{MEDIA_URL}}/static/slick/slick.min.js"></script>
    </body>
</html>
